<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link id="site-stylesheet" href="${PAGE_ID}.css" rel="stylesheet">
  <link href="../common/editor.css" rel="stylesheet">
  <script src="../common/page_mod_scripts.js"></script>
</head>

<body>
  <header>
    <div id="topbanner">
      <nav id="topbar" class="mobile-hidden">
      </nav>
    </div>
  </header>
  <script>
    function toggleMenu() {
      document.getElementById("topbar").classList.toggle("mobile-hidden");
      document.getElementById("mobile-hamburger").classList.toggle("selected");
    };
  </script>

  <main id="main-article" class="content-area container-fluid">
  </main>
  
  <footer id="footer">
  </footer>
</body>

</html>