---
export interface Props {
  footerText?: string;
}

const { footerText } = Astro.props;
---

<footer id="footer">
  <div id="footer-bar" class="floating">
    {footerText ? (
      <div set:html={footerText} />
    ) : (
      <slot />
    )}
  </div>
</footer>