---
// No props needed for this component since it uses slots
---

<header>
  <div id="topbanner">
    <div id="header-row">
      <button id="mobile-hamburger" onclick="toggleMenu;">☰</button>
    </div>
    <nav id="topbar" class="mobile-hidden fixed">
      <slot />
    </nav>
  </div>
</header>